<div class="header container-fluid">
    <div class="row">

        <br /><br /><br /><!-- FIXME: remove this 'br' tags -->

        <div class="col-md-5 offset-md-1" >
            <h1>Financial sovereignity via open-source cryptocurrency solutions</h1>
            <p>We leverage the power of the Bitcoin and Ethereum ecosystem to create the next-generation products over Layer-2 protocols with safe cold-storage support.</p>
        </div>
        <div class="col-md-5 offset-md-1">
            <img src="assets/home.svg" style="width:50%" />
        </div>
    </div>
</div>
<div class="post-header">
    <svg viewBox="0 0 1000 101" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z" style="fill: rgb(237, 237, 237);">
        </path>
    </svg>
</div>
