<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #ffffff;">
  <a class="navbar-brand ml-md-5 pl-md-5 d-flex align-items-center" href="#">
    <img src="assets/logo.png" class="pl-md-5 flex-column d-inline-block align-top" alt="" loading="lazy">
    <div class="flex-column px-2">
      Node Effect
    </div>
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pr-md-4 ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tech">Technologies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#partners">Partners</a>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <a class="btn btn-danger" href="mailto:andres@nodeffect.com">Contact Us</a>
  </form>

</nav>